#img_barfi {
    background-image: url("./images/1.png");
    background-size: cover;
    background-position: center;
}

#img_rhtdm {
    background-image: url("./images/2.png");
    background-size: cover;
}

#img_hind-ke-sitare {
    background-image: url("./images/3.png");
    background-size: cover;
}

#img_ranjhanaa {
    background-image: url("./images/4.png");
    background-size: cover;
}

#img_ve-kamleya {
    background-image: url("./images/5.png");
    background-size: cover;
}
#img_sajni {
    background-image: url("./images/6.png");
    background-size: cover;
}

#img_ar-rahman {
    background-image: url("./images/7.png");
    background-size: cover;
}
#img_delhi-belly {
    background-image: url("./images/8.png");
    background-size: cover;
}
#img_tamasha {
    background-image: url("./images/9.png");
    background-size: cover;
}
#img_teri-deewanni {
    background-image: url("./images/10.png");
    background-size: cover;
}
#img_animal {
    background-image: url("./images/11.png");
    background-size: cover;
}
#img_rockstar {
    background-image: url("./images/12.png");
    background-size: cover;
}
#img_raa-one {
    background-image: url("./images/13.png");
    background-size: cover;
}
#img_delhi-6 {
    background-image: url("./images/Delhi-6.png");
    background-size: cover;
}
#img_veer-zara {
    background-image: url("./images/veer-zara.png");
    background-size: cover;
}
#img_arjit {
    background-image: url("https://lh3.googleusercontent.com/GfeUn2pfOL4GJUjcG36SrQYb74jM9seH_gQx_mxWxpkAlvbxYL7yngol-NAHvNKEWihvTNy1HgUsD_s4=w544-h544-l90-rj");
    background-size: cover;
}
#img_dil-se {
    background-image: url("https://lh3.googleusercontent.com/v7Br4lthj6D_nb9OnUdMnOjGRIU4Q6uimuLW-zI24i3frQnQwaOGGFlonfSaFuw_KLuCs71sjVFueiJZ=w544-h544-l90-rj");
    background-size: cover;
}
#img_sanam {
    background-image: url("https://lh3.googleusercontent.com/mXflNN1Hqo-nJ7710kllcSGmLiknr_eN7tY6Qdk1gzeE9_9ryaO1yHaVFdFVZ_zWymsaLsiVUcoehl4=w544-h544-l90-rj");
    background-size: cover;
}
#img_andhadhun {
    background-image: url("https://lh3.googleusercontent.com/ry2psr0826XFpfuyphY1xwjp6vjcV6PQQmPCy1Hh44DVOmfUR3u_DYwOKz6UT5JItx6mWmlFOokBL1meww=w544-h544-l90-rj");
    background-size: cover;
}
#img_billo-rani {
    background-image: url("https://lh3.googleusercontent.com/vT02bqoW9sAX6kpNS_2mOI8mQP4AcK60ghYhGWdAYLmkZ_XN9KZ2bHuuqOqu82EzDtWjSk15Dr9_piGJ=w544-h544-l90-rj");
    background-size: cover;
}
#img_my-khan {
    background-image: url("./images/my-khan.png");
    background-size: cover;
}
#img_yaariyan {
    background-image: url("./images/yaariyan.png");
    background-size: cover;
}
#img_murder-3 {
    background-image: url("./images/murder-3.png");
    background-size: cover;
}
#img_kedarnath {
    background-image: url("./images/kedarnath.png");
    background-size: cover;
}
#img_senorita {
    background-image: url("https://lh3.googleusercontent.com/FgYMxJ3LGubtPl2bnTZo1QycILXaw19rXO8-QsP26vvQJN6MTHz--1FoM6t7FdkKvRvMv6ZMI2DYWfT5Gw=w544-h544-l90-rj");
    background-size: cover;
}
#img_terre-naina {
    background-image: url("./images/terre-naina.png");
    background-size: cover;
}
#img_dirty-picture {
    background-image: url("https://lh3.googleusercontent.com/Hc7FcpbIURdq0gwq8u5ghfDpFPsuy-G4dQNYO1F6R1Xaf5pGz6mgAgghqZ103xalcnrPBZTpkVtK2oladQ=w544-h544-l90-rj");
    background-size: cover;
}
#img_yoyo {
    background-image: url("https://lh3.googleusercontent.com/VLELGT-4yCuB_WPA04HCEUql66G7eig4pKUDEjP-7x6F-im9rAACpK8d_LjSwgU6Wwi-v78o9xwi-rU0=w544-h544-l90-rj");
    background-size: cover;
}
#img_kabir-singh {
    background-image: url("https://lh3.googleusercontent.com/loAKTa9XpvZzV-TORspRPC978Kk_u2l6tYlHTHm-sYfwjmKsJdShoxbmLoPKoq9eZgq-uzpoRPtqEWX09w=w544-h544-l90-rj");
    background-size: cover;
}
#img_1 {
    background-image: url("https://lh3.googleusercontent.com/ty8JhBq2o1puP1Grsf9-BXjNt4KHpHddkn8KyZZ_CtW1HcjopHy9TrRd6J6O_MumKNJ4FC43oo4cUZM=w544-h544-l90-rj");
    background-size: cover;
}
#img_2 {
    background-image: url("https://lh3.googleusercontent.com/4yy3e1pXc_wNQCiLbWBYJY9hhcXGJKm_moUL3D-yfiqh2ahHye4oLEyoX5AqNSwfVgGsrLZP03Vybg=w544-h544-l90-rj");
    background-size: cover;
}
#img_3 {
    background-image: url("https://lh3.googleusercontent.com/jxEo5i3U8lTq-6C173MOjQ0UZbldI6sSKglgGpCzHenrNgAf8lRELDJqQfOYIt92aJvd_bUGqgCKiQ=w544-h544-l90-rj");
    background-size: cover;
}
#img_4 {
    background-image: url("https://lh3.googleusercontent.com/IJ0-0mG3e5E76DSIF1R0ZXj_Ye15ri7kytwj7JFxC9n04p8HWA8JkA1XvssdbFqdHDPx2fvEMwpCcBg=w544-h544-l90-rj");
    background-size: cover;
}
#img_5 {
    background-image: url("https://lh3.googleusercontent.com/SXlGnwLYO5qmOQXOvvdtgEJYMQNEZL6xfXYCfO3U0oEH-QW_NgMgrZNZCZPqwLH743mABiUkdNtH5vQ=w544-h544-l90-rj");
    background-size: cover;
}
#img_6 {
    background-image: url("https://lh3.googleusercontent.com/VUW7xAdc86loRsgw64lN-S7AkDjosZURraHx1KsoImOLm4SY-CADiNMCupCm8LKPd3zn-I2qXVG2Gc0T=w544-h544-l90-rj");
    background-size: cover;
}
#img_7 {
    background-image: url("https://lh3.googleusercontent.com/f89GsxXvdabfi6991Agp__1PsAAF4rlbC0k-FN4PjO7Ra-hyRpAMvQxpfCLSt6yzpGIulDunByBvuA=w544-h544-l90-rj");
    background-size: cover;
}
#img_8 {
    background-image: url("https://lh3.googleusercontent.com/eJ-pfLMhAe0k_HJk5ffP3cP7s4SXDOl6JQKrUX7rwHduS0ykvljUQ1p6YxfCg8xR7aaYepzxpGWZUms=w544-h544-l90-rj");
    background-size: cover;
}
#img_9 {
    background-image: url("https://lh3.googleusercontent.com/iwXJGyYbTrh-zWF4p3LgTKBiYxOXCW8ct1N1pMV-VmXvfc3zRTz5RJM14VEWmzFFqxF0PaEtesgRVo5z=w544-h544-l90-rj");
    background-size: cover;
}
#img_10 {
    background-image: url("https://lh3.googleusercontent.com/7ixiqW3VFO56etngn9cjeCDJkfwJGZEOLbKr7EH__cAdWrLRarqcZLQ6o2chSQ45J9qkPw1xKkQy4Hc=w544-h544-s-l90-rj");
    background-size: cover;
}